app/code/local/Vijaystore/Customapi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
           <xsd:complexType name="customapiDemoEntityArray">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="complexObjectArray" type="typens:customapiDemoListEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customapiDemoListEntity">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" />
                    <xsd:element name="pincode" type="xsd:int" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="address" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customapiDemoEntityToCreate">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" />
                    <xsd:element name="pincode" type="xsd:int" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="address" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customapiDemoUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="pincode" type="xsd:int" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="address" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customapiDemoInfoEntity">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" />
                    <xsd:element name="pincode" type="xsd:int" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="address" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="customapiDemoListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customapiDemoEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="tutorialData" type="typens:customapiDemoEntityToCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="tutorialId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customapiDemoInfoEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="tutorialId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="tutorialData" type="typens:customapiDemoEntityToCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoDeleteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="tutorialId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customapiDemoDeleteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>			
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="customapiDemoListRequest">
        <wsdl:part name="parameters" element="typens:customapiDemoListRequestParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoListResponse">
        <wsdl:part name="parameters" element="typens:customapiDemoListResponseParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoCreateRequest">
        <wsdl:part name="parameters" element="typens:customapiDemoCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoCreateResponse">
        <wsdl:part name="parameters" element="typens:customapiDemoCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoInfoRequest">
        <wsdl:part name="parameters" element="typens:customapiDemoInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoInfoResponse">
        <wsdl:part name="parameters" element="typens:customapiDemoInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoUpdateRequest">
        <wsdl:part name="parameters" element="typens:customapiDemoUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoUpdateResponse">
        <wsdl:part name="parameters" element="typens:customapiDemoUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoDeleteRequest">
        <wsdl:part name="parameters" element="typens:customapiDemoDeleteRequestParam" />
    </wsdl:message>
    <wsdl:message name="customapiDemoDeleteResponse">
        <wsdl:part name="parameters" element="typens:customapiDemoDeleteResponseParam" />
    </wsdl:message>
  
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="customapiDemoList">
            <wsdl:documentation>Retrieve CustomApi Data</wsdl:documentation>
            <wsdl:input message="typens:customapiDemoListRequest" />
            <wsdl:output message="typens:customapiDemoListResponse" />
        </wsdl:operation>
        <wsdl:operation name="customapiDemoCreate">
            <wsdl:documentation>Create  CustomApi</wsdl:documentation>
            <wsdl:input message="typens:customapiDemoCreateRequest" />
            <wsdl:output message="typens:customapiDemoCreateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customapiDemoInfo">
            <wsdl:documentation>Retrieve CustomApi Data</wsdl:documentation>
            <wsdl:input message="typens:customapiDemoInfoRequest" />
            <wsdl:output message="typens:customapiDemoInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="customapiDemoUpdate">
            <wsdl:documentation>Update CustomApi Data</wsdl:documentation>
            <wsdl:input message="typens:customapiDemoUpdateRequest" />
            <wsdl:output message="typens:customapiDemoUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customapiDemoDelete">
            <wsdl:documentation>Delete CustomApi Data</wsdl:documentation>
            <wsdl:input message="typens:customapiDemoDeleteRequest" />
            <wsdl:output message="typens:customapiDemoDeleteResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="customapiDemoList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customapiDemoCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customapiDemoInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customapiDemoUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customapiDemoDelete">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<!--
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service> -->
</wsdl:definitions>